body{
    text-align: center;
    background-image: url(https://img.freepik.com/free-vector/abstract-watercolor-background_23-2149038179.jpg?w=2000);
}
.container-md{
    font-family: 'Mali', cursive;
}